@charset "UTF-8";
/* 页面样式 */
html, body {
  background: #fcfae6;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../images/bg1.png") no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}
.container .current-count {
  position: absolute;
  left: 50%;
  top: 2.24rem;
  font-size: .34rem;
  color: #fff;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.container .message {
  position: absolute;
  left: 2.27rem;
  top: 4.42rem;
  width: 2.9rem;
  font: normal 0.28rem 'Microsoft YaHei';
  color: #fff;
}
.container .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 2.36rem;
  bottom: 12%;
  width: 2.82rem;
  height: .64rem;
}
.container .input .minus-btn, .container .input .count, .container .input .add-btn {
  display: block;
  width: .64rem;
  height: .64rem;
}
.container .input .minus-btn {
  background: url("../images/minus1.png") no-repeat;
  background-size: cover;
}
.container .input .count {
  font-size: .57rem;
  color: #e94a48;
  text-align: center;
  line-height: .64rem;
}
.container .input .add-btn {
  background: url("../images/add1.png") no-repeat;
  background-size: cover;
}
.container .person-center {
  display: block;
  position: absolute;
  right: .25rem;
  bottom: 1.52rem;
  width: 1.01rem;
  height: 1.01rem;
  background: url("../images/person_center.png") no-repeat;
  background-size: cover;
}
.container .join {
  position: absolute;
  left: .67rem;
  bottom: .2rem;
  width: 6.58rem;
  height: .81rem;
  font-size: .34rem;
  line-height: .81rem;
  text-align: center;
  color: #fff;
  background: #e94a48;
}
